@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$banner-height: 75px;

.container {
    font-family: 'Segoe UI';
    margin: 0 auto;
}

#banner {
    background-color: #2b2b2b;
    position: fixed;
    height: $banner-height;
    left: 0;
    right: 0;
    top: 0;
}

#bannerMenu {
    list-style-type: none;
    padding: $banner-height * .1;
    height: $banner-height;
    display: table;
}

.bannerElement {
    float: left;
    padding: {
        right: $banner-height * .3;
    }
    margin: 0;
    color: #ffffff;
    font-family: 'Fira Code';
}

.bannerElement h1 {
    display: table-cell;
    vertical-align: middle;
    line-height: $banner-height * .8;
}

.bannerDivider {
    // height: $banner-height * .8;
    // border-left: 2px solid white;

    padding: 0;
    margin-top: $banner-height * .15;
    display: block;
    height: $banner-height * .5;
    width: 1px;
    background-color: #858585;
}

#portrait {
    position: relative;
    border-radius: 50%;
    width: $banner-height * .8;
    height: $banner-height * .8;
    background-image: url('/face.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#main {
    position: absolute;

    background-color: #1d1d1d;
    top: $banner-height;
    bottom: 0;
    left: 0;
    right: 0;
}
