@import 'variables.scss';

.container {
    font-family: 'Segoe UI';
    margin: 0 auto;
}

#banner {
    background-color: $secondary-color;
    position: fixed;
    height: $banner-height;
    min-width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 2px solid $accent-color;
}

#bannerMenu {
    list-style-type: none;
    padding: $banner-height * .1;
    height: $banner-height;
    display: table;
}

.bannerElement {
    display: inline-block;
    padding: {
        right: $banner-height * .3;
    }
    margin: 0;

    color: $text-color;
    font-family: 'Lemon Milk Light';
}

.bannerElement h1 {
    display: table-cell;
    vertical-align: middle;
    line-height: $banner-height * .8;
}

.bannerLink:hover {
    color: $accent-color;

    cursor: pointer;
}

// Unused as of now
// .bannerDivider {
//     padding: 0;
//     margin-top: $banner-height * .15;
//     margin-right: $banner-height * .3;
//     display: block;
//     height: $banner-height * .5;
//     width: 1px;
//     background-color: #858585;
// }

#portrait {
    position: relative;
    border-radius: 50%;
    width: $banner-height * .8;
    height: $banner-height * .8;
    background-image: url('/face.png');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
    #portrait {
        visibility: hidden;
        position: absolute;
    }
}

#main {
    position: absolute;

    background-color: #1d1d1d;
    top: $banner-height;
    bottom: 0;
    left: 0;
    right: 0;
}
