@import 'variables.scss';

#main a:hover {
    color: $accent-color;

    cursor: pointer;
}

// move this
#main {
    position: fixed;

    background-color: $background-color;
    top: $banner-height;
    bottom: 0;
    left: 0;
    right: 0;


    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-color: dark;
}

.section {
    position: relative;

    margin: {
        top: 0;
        bottom: 0;
        left: 10%;
        right: 10%;
    }

    padding: {
        top: $banner-height;
        bottom: $banner-height;
    }
    
    color: $text-color;

    border-bottom: 2px solid $accent-color;
}

.sectionTitle {
    font-family: 'Lemon Milk Light';
    text-align: center;
    margin-bottom: $banner-height / 4;
}
