.container {
    font-family: 'Segoe UI';
    margin: 0 auto;
}

// move this
#main {
    position: absolute;

    background-color: #1d1d1d;
    // top: $banner-height;
    bottom: 0;
    left: 0;
    right: 0;
}